* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
position: fixed;






}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #06090a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 5%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .Logo {
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}


header .navbar ul { 
    list-style: none;
    display: flex;
    align-items: center;
}

header .navbar ul li {
    position: relative;
}

header .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .navbar ul li a:hover {
        background-color: #1ba0cd;

}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #1ba0cd;
    display: none;
    flex-direction: column;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: flex;
}

.drop {
    margin-left: 10px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

header label {
    cursor: pointer;
    display: none;
}




.botsin {


font-family: Arial 24, Helvetica, sans-serif;
    font-weight: bold;
position: absolute;
left: 900px;
margin-top: -480px;
}













.bot3 {


font-family: Arial 24, Helvetica, sans-serif;
    font-weight: bold;
position: absolute;
left: 1000px;
margin-top: -120px;
color: rgb(0, 0, 0);




padding: 15px 30px;
 text-align: center;
    transition: background-color 0.3s ease;
border: 2px solid rgb(0, 204, 255);
    background-color: #1ba0cd;
}


.bot2 {


font-family: Arial 24, Helvetica, sans-serif;
    font-weight: bold;
position: absolute;
left: 1000px;
margin-top: -290px;
color: rgb(0, 0, 0);



padding: 15px 30px;
 text-align: center;
    transition: background-color 0.3s ease;
border: 2px solid rgb(0, 204, 255);
    background-color: #1ba0cd;
}


.bot1 {


font-family: Arial 24, Helvetica, sans-serif;
    font-weight: bold;
position: absolute;
left: 1000px;
margin-top: -443px;
color: rgb(0, 0, 0);


padding: 15px 30px;
 text-align: center;
    transition: background-color 0.3s ease;
border: 2px solid rgb(0, 204, 255);
    background-color: #1ba0cd;
}
















.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -700px;
    
}

.btn, .btnnn, .añañin  {
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(0, 204, 255);
    background-color: #1ba0cd;
    padding: 15px 30px;
    margin: 50px;
    color: rgb(0, 0, 0); 
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    left: -470px;
    position: relative;
}













.btn:hover, .btnnn:hover, .añañin {
    
}







